@font-face {
    font-family: 'lato';
    font-weight: 200;
    font-style: normal;
}

body { margin: 0; color: #5E5E5E; font-family: "lato", 'Arial'; }
a:hover { text-decoration: none; }
div.wrapper { margin: 0 auto; max-width: 970px; }
div.header { background-color: #365682; width: 100%; height: 10%; padding-top: 35px; position: relative; }

div.content { width: 100%; height: 74%; text-align: center; }
div.content h1 { font-size: 2.5em; font-weight: 200; }
div.content p { font-size: 1.5em; }
img { width: 100%; }

#fondoyuki {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -100;
}

@media (min-aspect-ratio: 16/9){

    #fondoyuki {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9){

    #fondoyuki {
        width: auto;
        height: 100%;
    }
}